{% extends 'WebBundle:Layout:app.html.twig' %}

{% block title %}{{ 'error.title.404'|trans }}{% endblock %}

{% block body %}
    <div id="container" class="container">
        <div class="block block-exception">
            <h1 class="block-title">{{ 'error.title.404'|trans }}</h1>

            <p class="block-content">{{ 'error.info.404'|trans({'%support_mail%': incenteev_support_mail}) }}</p>

            <ul class="list list-actions right">
                <li>
                    <a href="{{ path('showcase_home') }}">{{ 'layout.action.go_to_app'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
