{% extends 'WebBundle:Admin:layout.html.twig' %}

{% block title %}
    {{ 'admin.breadcrumb.teams.display'|trans({'%team_name%': team.name}) }}
    - {{ 'admin.breadcrumb.teams.main'|trans }}
    - {{ 'admin.breadcrumb.organization_management'|trans }}
    - Incenteev
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ path('admin_home') }}">{{ 'admin.breadcrumb.organization_management'|trans }}</a>
            <span class="divider">></span>
        </li>
        <li>
            <a href="{{ path('admin_team_list') }}">{{ 'admin.breadcrumb.teams.main'|trans }}</a>
            <span class="divider">></span>
        </li>
        <li class="active">{{ 'admin.breadcrumb.teams.display'|trans({'%team_name%': team.name}) }}</li>
    </ul>
{% endblock %}


{% block inner_content %}
<h1 class="block-app-title">
    <span class="block-app-title-content">
        {{ 'organization_team.title.show'|trans({'%team_name%': team.name}) }}
    </span>
    <span class="block-app-title-actions">
        <a href="{{ path('admin_team_edit', {'id': team.id}) }}" class="btn button-info">
            {{ 'organization_team.action.edit'|trans }}
        </a>
    </span>
</h1>

<div class="details">
    <div class="details-group">
        <span class="details-label">{{ 'organization_team.label.name'|trans }}</span>
        <p class="details-content">{{ team.name }}</p>
    </div>
    <div class="details-group">
        <span class="details-label">{{ 'organization_team.label.avatar'|trans }}</span>
        <div class="details-content">
            <img src="{{ get_avatar(team)|default(asset('bundles/web/img/team-avatar.jpg')) }}" class="thumbnail">
        </div>
    </div>
    <div class="details-group">
        <span class="details-label">
            {{ 'organization_team.label.members'|trans }}
            {% if team.members is not empty %}
                ({{ team.members|length }})
            {% endif %}
        </span>
        <div class="details-content">
            {% if team.members is not empty %}
                <ul class="thumbnails">
                {% for member in team.members %}
                    <li class="thumbnail card card-user">
                        <img src="{{ get_avatar(member) }}" class="card-avatar">
                        <div class="card-data">
                            <p class="card-data-name">{{ member.name }}</p>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>{{ 'organization_team.info.no_member'|trans }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
